.wrapper {
  height: 100vh;
}

.parallax-img {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Задаем свойства элементов */

.body {
  margin: 0;
  background: #000;
}

* {
  font-family: Candara;
  color: white;
}

.h1 {
  margin: 15px;
  text-align: center;
}

.p {
  margin: 15px;
  font-size: 1.1rem;
}

.parallax-img {
  background-image: url('https://images.unsplash.com/photo-1611416457332-946853cc75d6?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bmlnaHQlMjBjaXR5fGVufDB8fDB8fHww');
}
